
@{
    ViewData["Title"] = "InsertHaikuFail";
}

<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" onclick="return toStart()"></button>
    <strong>Din haiku kunde inte skapas!</strong> Din haiku finns redan i databasen. Vänligen kontrollera att din tilltänkta titel inte redan är upptagen @Html.ActionLink("här", "Testtest", "Start", null, null).
    <br />
    <br />
    <strong>OBS! Det är inte tillåtet att plagiera någon annans haiku.</strong>
</div>

 

<script>
    function toStart() {

 

        window.location.href = '@Url.Action("InsertHaikuForm", "Haiku")';

 

    }
</script>