@{
    ViewData["Title"] = "InsertHaiku";
}

<h2>Bekräftelse</h2>
<p>Haiku har skapats!</p>
<p>Ett eventuellt felmeddelande: @ViewBag.error</p>

<div>
    @Html.ActionLink("Tillbaka till startsidan", "Home", "Start", null, null)
</div>
