@{
    ViewData["Title"] = "InsertHaiku";
}

 

<div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" onclick="return redirect()"></button>
    <strong>Din haiku, "@TempData["rubrik"]" har skapats!</strong><br />
    @Html.ActionLink("Visa haiku", "Details", "Start", new { id = @TempData["rubrik"] })
</div>
<script>
    function redirect() {

 

        window.location.href = '@Url.Action("Home", "Start")';

 

    }
</script>