@model HaikuLab3.Models.HaikuDetail

@{
    ViewData["Title"] = "InsertHaikuForm";
}

<h1>InsertHaikuForm</h1>

<h4>HaikuDetail</h4>

<h5>Hej @TempData["Test"]!</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertHaikuForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ha_Title" class="control-label"></label>
                <input asp-for="Ha_Title" class="form-control" />
                <span asp-validation-for="Ha_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ha_Content" class="control-label"></label>
                <input asp-for="Ha_Content" class="form-control" />
                <span asp-validation-for="Ha_Content" class="text-danger"></span>
            </div>
            <!-- 
            <div class="form-group">
                <label asp-for="Ha_Photo" class="control-label"></label>
                <input asp-for="Ha_Photo" class="form-control" type="file" />
                <span asp-validation-for="Ha_Photo" class="text-danger"></span>
            </div>-->
            
            <div class="form-group">
                <label asp-for="Ha_Genre"> Välj en genre</label>
                <select id= "Ha_Genre" name ="Ha_Genre">
                    <option value = "drama">Drama</option>
                    <option value = "skräck">Skräck</option>
                    <option value = "komedi">Komedi</option>
                    <option value = "djur">Djur</option>
                    <option value = "Högtid">Högtid</option>
                    <option value = "sommar">Sommar</option>
                    <option value = "populärkultur">Populärkultur</option>
                
                </select>                     

            </div>
           
            <div>
                <input type="hidden" id="Ha_Alias" name="Ha_Alias" value="@TempData["Test"]"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Tillbaka till startsidan", "Index", "Home", null, null)
</div>

