@{
    ViewData["Title"] = "InsertHaiku";
}


<h2>Bekräftelse</h2>
<h6>Din haiku, "@TempData["rubrik"]" har skapats!</h6>


<div>
    @Html.ActionLink("Tillbaka till startsidan", "Home", "Start", null, null) |
    @Html.ActionLink("Visa haiku", "Details", "Start", new{ id= @TempData["rubrik"]})
</div>
