@model HaikuLab3.Models.HaikuDetail

@{
    ViewData["Title"] = "InsertHaikuForm";
}
<div class="text-center my-5">
<h1>Skapa en haiku</h1>

<h5>Hej @TempData["Test"]!</h5>
</div>


<div class="row justify-content-center gap-5">
    <div class="col-5 text-center">
        <h2 class="mb-4">Skriv din haiku här</h2>
        <form asp-action="InsertHaikuForm" onsubmit="return countVowelOfAll()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-start mb-3">
                <label asp-for="Ha_Title" class="control-label">Titel</label>
                <input asp-for="Ha_Title" class="form-control" required maxlength="30" />
                <span asp-validation-for="Ha_Title" class="text-danger"></span>
            </div>

             <div class="form-group text-start mb-3">
                <label asp-for="Ha_Content" class="control-label">Skriv din haiku här</label>
                <textarea asp-for="Ha_Content" style="resize:none;" rows="3" class="form-control" id= "Ha_Content" name = "Ha_Content" onkeyup="countVowel();" required maxlength="135" ></textarea>
               <span asp-validation-for="Ha_Content" class="text-danger"></span>
               <div class="d-flex">
                    <img id="check" style="width:40px; height:40px; display:none;" src="~/images/check.jpeg" />
                    <p class="my-auto" id="counttext" style="display:none; font-weight:bold;">Din haiku innehåller <span id = "span"></span> stavelser.</p>
               </div>
                
            </div>
            
            <div class="form-group text-start">
                <label asp-for="Ha_Genre">Välj en genre</label>
                <select id= "Ha_Genre" name ="Ha_Genre" class="form-select dropdown">
                    <option value = "drama">Drama</option>
                    <option value = "skräck">Skräck</option>
                    <option value = "komedi">Komedi</option>
                    <option value = "djur">Djur</option>
                    <option value = "Högtid">Högtid</option>
                    <option value = "sommar">Sommar</option>
                    <option value = "populärkultur">Populärkultur</option>
                
                </select>                     

            </div>
           
            <div>
                <input type="hidden" id="Ha_Alias" name="Ha_Alias" value="@TempData["Test"]"/>
            </div>
         
            <div class="form-group mt-4">
                <input type="submit" value="Skapa" class="btn btn-primary"/>
            </div>
        </form>
        
        
    </div>
    
    <div class="col-5 card p-5">
        <h3>Checklista för en lyckad haiku</h3>
        
        <ul>
            <li title="Tips! Gå in på Visa alla Haiku för att söka på titeln du tänkt använda, för att dubbelkolla att den inte redan existerar">Din haiku måste vara unik</li>
            <li title="Tips! Använd stavelseräknaren under textrutan för att hjälpa dig hålla koll på antal stavelser">Din haiku måste innehålla sammanlagt 17 stavelser (5 på första raden, 7 på andra raden och 5 på sista raden)</li>
            <li title="Tips! Saknar du en genre? Använd kontaktformuläret för att be oss lägga till en specifik genre">Välj en lämplig genre för din haiku</li>
        </ul>
        <p>Psst! Se mer information om varje punkt genom att föra muspekaren över texten.</p>
        <p>Om du är missnöjd med bedömningen av din haiku så kan du höra av dig till oss via kontaktformuläret. Vi kommer därefter granska din haiku noggrant och återkoppla inom kort.</p>
    </div>
</div>
<div class="text-center my-5">
    <div>
      @Html.ActionLink("Tillbaka till startsidan", "Home", "Start", null, null)<br />
      @Html.ActionLink("Till min sida", "ShowMyPage", "User", null, null)
      </div>
</div>


@section Scripts{
    <script>
    const vowels = ["a","e", "i", "o", "u", "y", "å", "ä", "ö"]

    function countVowel(){

        var input = document.getElementById("Ha_Content").value;
        let count = 0;

        for (let letter of input.toLowerCase()){
            if (vowels.includes(letter)){
                count++;
            }
        }
      
        var inputborder = document.getElementById("Ha_Content");
        var area = document.getElementById("span");        
        var countingtext = document.getElementById("counttext");
        var check = document.getElementById("check");
        countingtext.style.display = "block";

        if (count < 17) {
            countingtext.style.color = "red";  
            inputborder.style.border = "2px solid red";
            check.style.display = "none";
        } else if (count == 17) {            
            countingtext.style.color = "#32CD32";  
            inputborder.style.border = "2px solid #32CD32"
            check.style.display = "block";
        } else {            
            countingtext.style.color = "red";  
            inputborder.style.border = "2px solid red";
            check.style.display = "none";      
        }                
        
        area.innerHTML = count;
        
        return count;
       
    }
 
     function countVowelOfAll(){

        var input = document.getElementById("Ha_Content").value;

        let count = 0;

        for (let letter of input.toLowerCase()){
            if (vowels.includes(letter)){
                count++;
            }
        }
       
        if(count == 17){
            
            return true;
        } else{
            alert("Din haiku innehåller: " + count + " stavelser. En haiku ska innehålla 17 stavelser (5 + 7 + 5), vänligen se över detta och försök igen.");
            return false;
        }
       
       
    }
    
    </script>

}

