@model HaikuLab3.Models.UserDetail

@{
    ViewData["Title"] = "AddDescription";
}

<h1>Lägg till beskrivning</h1>

<h2>Hej @TempData["Test"]!</h2>
<h4>Lägg till en beskrivning här</h4>
<p>Notera att din beskrivning blir synlig för alla.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
             <div class= "form-group">
                <input type="text" id="description" name="description"/>
                <input type = "submit" value ="Lägg till" class ="btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="ShowMyPage">Tillbaka till min sida</a>
</div>


