@model HaikuLab3.Models.UserDetail

@{
    ViewData["Title"] = "AddDescription";
}

<h1>Lägg till beskrivning</h1>

<h2>Hej @TempData["Test"]!</h2>
<h4>Lägg till en beskrivning här</h4>
<p>Notera att din beskrivning blir synlig för alla.</p>
<p>Din beskrivning får innehålla max 100 tecken.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
             <div class= "form-group">
                 <textarea rows="4" cols="50" style="resize:none;" class="form-control" id="description" name="description" onkeyup="countChars();" required maxlength="100"></textarea>
                @*<input type="text" id="description" name="description"/>*@
                <p id="counttext"> <span id = "inserthere">0</span>/100</p>
                <input type = "submit" value ="Lägg till" class ="btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="ShowMyPage">Tillbaka till min sida</a>
</div>


@section Scripts {

    <script>
    
        function countChars() {

            var input = document.getElementById("description").value;
            let count = input.length;

            var area = document.getElementById("inserthere");
            area.innerHTML = count;

        }
        
    
    </script>

}