@{
    ViewData["Title"] = "AddPic";
}

<h1>Profilbild</h1>
<div style="height: 300px; width: 300px; overflow: hidden; border: 1px solid #e5e5e5;">
    <img class="img-fluid" id="imgPreview" src="#" alt="preview image" />
</div>
<form id="form" name="form" action="/User/AddPic" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="files">Ladda upp en profilbild här</label>
        <br />
        <input accept="image/*" id="files" name="files" type="file" size="1"  onchange="uploadFiles('files');" required />
    </div>
    <img id="loading" style="width:50px; display:none;" src="~/images/loader.gif" />
    <br />
    <div>
        <input type="submit" name="Submit" />
    </div>
</form>

@section Scripts {
    <script>
        function uploadFiles(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }

            $.ajax(
                {
                    url: "/User/AddPic",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    beforeSend: function () {
                        $('#loading').show();
                    },
                    complete: function () {
                        $('#loading').hide();
                    }
                }
            );
        }

        $(document).ready(() => {
            $('#files').change(function () {
                const file = this.files[0];
                console.log(file);
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        console.log(event.target.result);
                        $('#imgPreview').attr('src', event.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>

}