@{
    ViewData["Title"] = "DeleteUserFail";
}

 

<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" onclick="return redirect()"></button>
    <strong>Användare kunde inte raderas!</strong> 
</div>

 

<script>
    function redirect() {

 

        window.location.href = '@Url.Action("Home", "Start")';

 

    }
</script>