@model HaikuLab3.Models.UserDetail

@{
    ViewData["Title"] = "EditEmail";
}
<br />
<h1>Ändra Email</h1>

<br />

<br />
<br />

<h4>Uppdatera din email här</h4>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label for = "mail" class="control-label">Email</label>
                <input  pattern = "[A-Za-z0-9._+-]+@@[A-Za-z0-9 -]+\.[A-Za-z]{2,}" title="Vänligen skriv emailformatet enligt följande test@email.com" class="form-control" type ="email" id="mail" name="mail" required maxlength="50"/>
                @*<span asp-validation-for="Us_Email" class="text-danger"></span>*@
                <br />
                <input type = "submit" value ="Uppdatera" class ="btn-default" />
            </div>

        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<div>
    <a asp-action="ShowMyPage">Tillbaka till min sida</a>
</div>

