@model HaikuLab3.Models.UserDetail

@{
    ViewData["Title"] = "EditEmail";
}

<h1>EditEmail</h1>

<h2>Hej @TempData["Test"]!</h2>
<p>@TempData["Test2"]</p>
<h4>Uppdatera din email här</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
             <div class= "form-group">
                <input type="text" id="email" name="email"/>
                <input type = "submit" value ="Uppdatera" class ="btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="ShowMyPage">Tillbaka till min sida</a>
</div>

