
@{
    ViewData["Title"] = "InsertUserFail";
}

 

<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" onclick="return redirect()"></button>
    <strong>Användare kunde inte skapas!</strong> Användarnamnet är upptaget försök igen<br />
    
</div>

 

<script>
    function redirect() {

 

        window.location.href = '@Url.Action("InsertUserForm", "User")';

 

    }
</script>