@model HaikuLab3.Models.UserDetail

@{
    ViewData["Title"] = "InsertUserForm";
}

<h1>Skapa användare</h1>

<p>Fyll i nedan formulär för att skapa en användare.</p>
<p>Samtliga fält krävs för att en användare ska skapas.</p>
<p>På denna sida finns en åldersgräns, för att skapa en användare behöver du därför vara minst 8 år gammal.</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertUserForm">
            <fieldset>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Us_Fname" class="control-label">Förnamn</label>
                <input asp-for="Us_Fname" class="form-control" aria-invalid = "false" aria-describedBy="err_1" />
                <span asp-validation-for="Us_Fname" class="text-danger" id="err_1"></span>
            </div>
            <div class="form-group">
                <label asp-for="Us_Lname" class="control-label">Efternamn</label>
                <input asp-for="Us_Lname" class="form-control" aria-invalid = "false" aria-describedBy="err_2"/>
                <span asp-validation-for="Us_Lname" class="text-danger" id="err_2"></span>
            </div>
            <div class="form-group">
                <label asp-for="Us_Alias" class="control-label">Alias</label>
                <input asp-for="Us_Alias" class="form-control" aria-invalid = "false" aria-describedBy="err_3"/>
                <span asp-validation-for="Us_Alias" class="text-danger" id="err_3" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Us_Age" class="control-label">Födelseår</label>
                <input asp-for="Us_Age" class="form-control" min = "1910" max = "2050" aria-invalid = "false" aria-describedBy="err_4"/>
                <span asp-validation-for="Us_Age" class="text-danger" id="err_4"></span>
            </div>
            <div class="form-group">
                <label asp-for="Us_Email" class="control-label">Email</label>
                <input asp-for="Us_Email" pattern = "[A-Za-z0-9._+-]+@@[A-Za-z0-9 -]+\.[A-Za-z]{2,}" title="Vänligen skriv emailformatet enligt följande test@email.com" class="form-control" type ="email" aria-invalid = "false" aria-describedBy="err_5"/>
                <span asp-validation-for="Us_Email" class="text-danger" id="err_5"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Skapa" validation="ModelOnly" class="btn btn-primary"/>
            </div>
            <br />
            </fieldset>
        </form>
    </div>
</div>
<p>Har du redan ett konto? Logga in @Html.ActionLink("här", "LogInUser", "User"). </p>
<div>
    @Html.ActionLink("Tillbaka till startsidan", "Home", "Start", null, null)
</div>

<script>

		if ($('#Us_Fname').val() === '') {
			$('#Us_Fname').attr("aria-invalid", "true");

		}
		if ($('#Us_Lname').val() === '') {
			$('#Us_Lname').attr("aria-invalid", "true");
            } 
		if ($('#Us_Alias').val() === '') {
			$('#Us_Alias').attr("aria-invalid", "true");
            } 
		if ($('#Us_Age').val() === '') {
			$('#Us_Age').attr("aria-invalid", "true");

		} 
		if ($('#Us_Email').val() === '') {
			$('#Us_Email').attr("aria-invalid", "true");

		} 

</script>




