@{
    ViewData["Title"] = "LogInUser";
}

 


<div class="card mx-auto my-5 p-5 text-center" style="max-width:400px;">
    <h3 class="mb-3">Logga in</h3>
    <form asp-action="LogInUser">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group text-start">
            <label for="alias">Användarnamn</label>
            <input type="text" id="alias" name="alias" class="form-control" maxlength="30" required />
        </div>

 

        <div class="form-group text-start">
            <label for="email">Email</label><br />
            <input type="text" id="email" name="email" class="form-control" maxlength="50" required />
        </div>
                
        <div class="form-group my-4">
            <input type="submit" value="Logga in" class="btn btn-primary" />
        </div>
    </form>
    <p>Har du inte ett konto? Skapa ett @Html.ActionLink("här", "InsertUserForm", "User").</p>
</div>