@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HaikuLab3.Models.UserDetail

@{ 
    ViewData["Title"] = "Min sida";
}

<p>Välkommen: @Model.Us_Alias</p>