@model IEnumerable<HaikuLab3.Models.TopHaikuDetail>

@{
    ViewData["Title"] = "Home";
}

<br />
<br />
<h1 class="display-4">Välkommen!</h1>
<br />
<br />
<br />

<h4>Topplista över våra mest flitiga Haiku-poeter!</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Författare
            </th>
            <th>
                Antal bidrag
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Th_Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Th_Count)
            </td>
            
        </tr>
}
    </tbody>
</table>
<br />

<div>
    @Html.ActionLink("Logga in", "LogInUser", "User")

</div>


