
@{
    ViewData["Title"] = "InsertRatingFail";
}

<h2>Error</h2>

<p>Betyget kunde inte sättas!</p>
<p>Ett eventuellt felmeddelande: @ViewBag.error</p>

<div>
    @Html.ActionLink("Till alla haikus", "Testtest", "Start")

</div>

