@{
    ViewData["Title"] = "InsertRatingSuccess";
}

<h2>Bekräftelse</h2>
<p>Du har betygsatt en haiku!</p>

<div>
    @Html.ActionLink("Till startsidan", "Home", "Start", null, null) |
     @Html.ActionLink("Till alla haikus", "Testtest", "Start")
</div>