@{
    ViewData["Title"] = "InsertRatingSuccess";
}

<h2>Bekräftelse</h2>
<p>Du har betygsatt en haiku!</p>
<p>Ett eventuellt felmeddelande: @ViewBag.error</p>

<div>
    @Html.ActionLink("Min sida", "ShowMyPage", "User", null, null)
</div>