@model HaikuLab3.Models.MailDetail

@{
    ViewData["Title"] = "Index";
}

<h1>Kontakta oss</h1>

<h2>Skicka ett mail till oss med formuläret nedan</h2>  

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" onsubmit="return alert('Tack för ditt meddelande!')">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CC" class="control-label">Från:</label>
                <input asp-for="CC" class="form-control" required />
                <span asp-validation-for="CC" class="text-danger"></span>
            </div>
           
            <br />
            <div class="form-group">
                <label asp-for="Subject" class="control-label">Välj ett ämne</label>
                <select id= "Subject" name ="Subject" class="form-control">
                    <option value = "Inloggning">Inloggning</option>
                    <option value = "Konto">Konto</option>
                    <option value = "Hjälp">Hjälp</option>
                    <option value = "Veckobrev">Veckobrev</option>
                    <option value = "Haikubedömning">Haikubedömning</option>
                    <option value = "Övrigt">Övrigt</option>
                    
                
                </select>                     

            </div>
            <br />
            <div class="form-group">
                <label asp-for="Body" class="control-label">Meddelande:</label>
                <textarea asp-for="Body" id="message" class="form-control" maxlength="250" style="resize:none;" rows="6" cols="100" required onkeyup="countChars();"></textarea>
                <p id="counttext"> <span id = "inserthere">0</span>/250</p>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Skicka" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {

    <script>
    
        function countChars() {

            var input = document.getElementById("message").value;
            let count = input.length;

            var area = document.getElementById("inserthere");
            area.innerHTML = count;

        }
        
    
    </script>

}